.icon{
    font-size: 1.5rem;
}

h3{
    font-size: 1.5rem;
}

@media (min-width: 768px) { 
    .icon{
        font-size: 2.5rem;
    }

    .btnR{
        font-size: larger;
        max-width: 29rem;
    }

    h3{
        font-size: 2rem;
    }
}
